body {
    background: #adf5d3;
}

.main-header {
    color: #070707;
    text-align: center;
    background: #37963c;
}

.section-header {
    background: #5fa769;
}

.dairy-header {
    color: #1a1309;
    font-size: 20px;
    font-style: italic;
}

.footer-header {
    color: #150f6d;
    font-size: 20px;
}

.paragraph {
    color: #070707;
}

footer {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}