.about {
    text-align: ;
    /*overflow: hidden;*/
}

body {
    background: #adf5d3;
}

.diary {
    clear: both;
}

.dairy-header {
    color: #1a1309;
    font-size: 20px;
    font-style: italic;
    padding: 0 0 0 16px;
}

footer {}

.footer-header {
    color: #150f6d;
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: #8e44ad;
    text-decoration: none;
}

.main {
    max-width: 1080px;
    width: 100%;
    margin: 32px auto;
    padding-top: 10px;
}

.main-header {
    color: #070707;
    text-align: center;
    background: #37963c;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #adf5d3;
}

.paragraph {
    color: #070707;
    padding: 0 24px 8px 24px;
}

.picture-author {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 5px 3px;
    float: left;
}

.section-header {
    background: #5fa769;
    text-align: center;
}

.topmenu {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #8e44ad;
    text-decoration: none;
}