.about {
    text-align: ;
    /*overflow: hidden;*/
}

.about__header {
    background: #5fa769;
    text-align: center;
}

.about__picture-author {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 5px 3px;
    float: left;
}

.about__paragraph {
    font-size: 24px
}

.about__link-footer {
    color: #8e44ad;
    text-decoration: none;
}

body {
    background: #adf5d3;
}

.diary {
    clear: both;
}

.diary__section-header {
    background: #5fa769;
    text-align: center;
}

.dairy__header {
    color: #1a1309;
    font-size: 20px;
    font-style: italic;
    padding: 0 0 0 16px;
}

.diary__paragraph {
    color: #070707;
    padding: 0 24px 8px 24px;
    font-size: 18px;
}

.diary__link {
    color: #8e44ad;
    text-decoration: none;
}

.footer {}

.footer__header {
    color: #150f6d;
    font-size: 20px;
    text-align: center;
}

.footer__header-topmenu {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #8e44ad;
    text-decoration: none;
}

.main {
    max-width: 1080px;
    width: 100%;
    margin: 32px auto;
    padding-top: 50px;
}

.main__article-img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 5px 3px;
    margin-left: auto;
    margin-right: auto;
}

.main__article-link {
    color: #8e44ad;
    text-decoration: none;
}

.main__article-paragraph {
    text-indent: 30px; 
}

.main__article-footer {
    text-align: right;
    padding: 10px 0px;
}

.main__image {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 5px 3px;
    margin-left: auto;
    margin-right: auto;
}

.main__link {
    color: #8e44ad;
    text-decoration: none;
}

.main__header {
    color: #070707;
    text-align: center;
    background: #37963c;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #adf5d3;
}

.navigation__link {
    margin-left: 20px;
    color: #723e13;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}